{% extends 'base.html.twig' %}

{% block title %}Edit BateauCategorie{% endblock %}

{% block body %}
    <h1>Edit BateauCategorie</h1>

    {{ include('bateau_categorie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_bateau_categorie_index') }}">back to list</a>

    {{ include('bateau_categorie/_delete_form.html.twig') }}
{% endblock %}
