{# templates/accueil/accueil.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Temp Page</title>
    </head>
    <body>
        {% block body %}
            <h1>Your lucky number is {{ number }}</h1>
        
        {% endblock %}
    </body>
</html>
